* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";

}

:root {
    --darkyellow: #FAD02C;
    --black: #000000;
    --poppins: "Poppins";
    --white: #ffffff;
}

body {
    height: 100%;
}

.bg-color {
    background-color:azure;
}
/*------NAVBAR-------*/

.logo {
    height: 35px;
    display: flex;
    margin-left: 60px;
}

i{
    color: var(--white);
    margin-right: 50px;
    font-size: 20px;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-linkk, .action-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    font-weight: 580;
    transition: transform 0.3s ease;

}

.nav-linkk:hover {
    color:#FAD02C;
    transform: scale(1.1);
}


header {
    display: flex;
    top: 0;
    z-index: 1000;
    width: 100%;
    
}   

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #000000;
    height: 13vh;
    backdrop-filter: blur(15px) ;
}

.links {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    left: 50%;
    right: 50%;
}
.navbar .links {
    display: flex;
    gap: 40px;
}

.navbar .toggle-btn {
    cursor: pointer;
    display: none;
    overflow-x: hidden;
}

.action-btn {
    background-color: var(--darkyellow);
    padding: 0.3rem 1rem;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-right: 70px;
    
}

.action-btn-dd  {
    background-color: var(--darkyellow);
    padding: 0.3rem 1rem;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    width: 2000px;
}

.action-btn:hover, .action-btn-dd:hover{
    background-color: #fff;
    color: #000000;
}

.cart-btn {
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    transition: transform 0.3s ease;

}

.cart-link {
    position: absolute;
    right: 145px;
}

.quantity{
    color: rgb(245, 237, 126);
    border-radius: 8px;
    width: 17px;
    height: 21px;
    background-color: red;
    font-size: 20px;
    position: absolute;
    right: 179px;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#cart {
    height: 10px;
    color: white;
}

#cart:hover {
    color: #FAD02C;
    transform: scale(1.1);
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 400px;
    background-color: #00000099;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 300px;
    overflow: hidden;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-container {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.445);  
    position: relative;
    top: 0;
}


.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ordernow-btn {
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: center;
    background-color: var(--darkyellow);	
    border-radius:42px;
	border:1px solid #ffaa22;
	display: inline-block;
	cursor:pointer;
	color:#000000;
	font-family:"Poppins";
	font-size:15px;
	font-weight:600;
	padding:10px 40px;
	text-decoration:none;
}

.ordernow-btn:hover {
	background-color: var(--white);
    color: #000000;
    border-style: none;
}
.ordernow-btn:active {
	position:relative;
	top:1px;
}

/*--------VIDEO-----------*/

.video {
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    margin-bottom: 2.5em;
}

.overview-text1 {
    font-family: "Playwrite Australia Tasmania";
    font-size: 20px;
    font-style: italic;
}

.overview-text {
    font-family: "League Spartan";
    line-height: 30px;
}

/*-------BACKGROUND-------*/


.specialty-drinks-bg, .best-sellers-bg {
    height: 15.25rem;
    width: 100%;
    background-color: var(--black);
    position: relative;
}


.best-sellers-bg {    top: -5.125rem;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 2.025em;
}

.categories-title {
    font-weight: 600;
}

/*-------PRODUCTS------*/

.sd-container {
    position: relative;
    top: -4.125rem;
}

.bs-container {
    position: relative;
    top: -9.125rem;
}

.espresso-container {
    position: relative;
}

.product-link {
    text-decoration: none;
    border-style: none;
    border-radius: 30px;
}

.row-cols-2 {
    width: 1150px;
}

.row-menu {
    width: 1200px;
}

.card {
    width: 270px;
    flex: 0 0 auto;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.70);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.70);
    transition: transform 0.5s ease;
    background: hsla(289, 100%, 97%, 1);

background: radial-gradient(circle, hsla(289, 100%, 97%, 1) 48%, hsla(0, 0%, 91%, 1) 67%);

background: -moz-radial-gradient(circle, hsla(289, 100%, 97%, 1) 48%, hsla(0, 0%, 91%, 1) 67%);

background: -webkit-radial-gradient(circle, hsla(289, 100%, 97%, 1) 48%, hsla(0, 0%, 91%, 1) 67%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCEEFF", endColorstr="#E9E9E9", GradientType=1 );
}

.card-body {
    height: 200px;

}

.col {
    position: relative;

    top: -60px;
    transition: transform 0.5s ease;
    margin-bottom: 30px;
}

.col:hover {
    transform: translateY(-15px);
}

.col:hover .img-container {
    background-color: var(--darkyellow);
}

.col:hover .img-container-pink {
    background-color: rgb(255, 86, 114);
}

.col:hover .img-container-blue {
    background-color: rgb(59, 59, 255);
}

.col:hover .img-container-yellow {
    background-color: var(--darkyellow);
}

.col:hover .img-container-coffee {
    background-color:#64361c;
}

.col:hover .card-img-top {
    transform: scale(1.1);
}

.img-container, .img-container-pink, .img-container-blue, .img-container-yellow, .img-container-coffee {
    width: 270px;
    height: 190px;
    border-radius: 15px 15px 30px 30px;
    visibility: visible;
    transition: background-color 0.5s ease;
    z-index: 1;
}

.card-img-top {
    transition: transform 0.5s ease;
}

.start-price {
    margin: 8px 0 5px 0;
    font-size: 14px;
    color: rgb(116, 116, 116);

}

.card-text {
    line-height: 15px;
    font-size: 14px;
    color: rgb(116, 116, 116);
}

.price {
    line-height: 10px;
    margin-bottom: 12px;
    color: var(--darkyellow);
    text-shadow: 2px 2px 5px rgba(58, 58, 58, 0.2);
}

.all-menu-btn-cont {
    display: flex;
    position: relative;
    justify-content: center;
    top: -12rem;
}

.all-menu-btn {
    width: 1130px;
    height: 30px;
    border-radius: 8px;
    font-family: var(--poppins);
    font-weight:s 500;
    border-style: none;
    background-color: var(--black);    
    font-size: 13px;
    color: var(--white);
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.all-menu-btn:hover {
    background-color: var(--darkyellow);
}

.back-to-top-btn {
    position: relative;
    display: flex;
    float: right;
    margin-right: 110px;
    top: -9.375rem;
}

#backtotop {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-family: var(--poppins);
    color: var(--darkgray);
    position: relative;
    font-size: small;
}

.footer-container {
    position: relative;
    
}

footer {
    position: relative;
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.icons-container {
    display: flex;
    position: absolute; 
    justify-content: center;
    padding-left: 70px;
    margin-bottom: 30px;
    }

.icons-container .fa-brands {
    color: var(--darkyellow);
    font-size: 28px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.icons-link {
    text-decoration: none;

}

.fa-brands:hover {
    transform: scale(1.2);
}

.footer-texts {
    position: absolute;
    flex-direction: row;
    display: flex;
    gap: 25px;
    margin-top: 50px;

}

.footer-texts p {
    font-family: var(--poppins);
    text-decoration: none;
}

.footer-texts a {
    text-decoration: none;
    color: var(--white);
    font-size: 13px;
    transition: transform 0.3s ease;

}

.footer-texts a:hover {
    color: var(--darkyellow);
    transform: translateY(-5px);

}

.divider {
    height: 20px;
    width: 1px;
    background-color: lightgray;
}

/*CAROUSEL MENU*/


  .wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
  }
  #menu-carousel{
    width:90%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
    border: 2px solid #fff;
  }
  .wrapper .slick-dots li button:before {
    font-size:20px;
    color:white;
  }

/*------MENU--------*/

.categories-cont {
    margin-bottom: 4em;
    padding-top: 0.3em;
    height: 3em;
    position: sticky;
    top: 0;
    background-color: var(--darkyellow);
    z-index: 99999;
    justify-content: center;
    align-items: center;

}

.categories-cont .nav {
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.nav .nav-link {
    color: #000000;
    font-weight: 500;
}

.nav .nav-link:hover {
    color: var(--white);
}

.nav i {
    color:#000000;
}

.categories-icon {
    margin-right: 10px; 
    transition: color 0.3s ease, opacity 0.3s ease;}

.nav-link:hover .categories-icon {
    color: var(--white); 
    opacity: 1;
}

.espresso {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.espresso, .non-coffee h3 {
    font-weight: 600;
}

.non-coffee {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 80px;
}

.menu-container {
    margin-bottom: 6em;
    margin-top: -2em;
}



/*POPUP NA FINAL*/
.fa-xmark {
    color: gray;
    position: absolute;
    font-size: 25px;
    right: -30px;
    top: 15px;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}
.popup {
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.70);
    border-style: none;
    width: 400px;
    height: 540px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background-color: var(--white);
}

.popup-img {
    display: block;
    position: relative;
    top: -40px;
    width: 400px;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 400px;
    height: 220px;
}

.popup-img-container {
    background-color: var(--darkyellow);
    height: 270px;
    border-radius: 20px 20px 40px 40px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-group label {
    display: flex;
    align-items: center;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
}

.popup-footer {
    display: flex;
    align-items: center; 
}

.grid-quantity {
    width: 120px; 
    display: flex;
    align-items: center;
}

.popup-title, .popup-price, .popup-number, .popup-description, .variation, .radio-group, .extras, .checkbox-group, .popup-footer {
    margin: 10px 20px 10px 20px;
}

.popup-title {
    font-size: 25px;
    font-weight: 600;
}

.popup-price {
    line-height: 10px;
}

.popup-number {
    color: var(--darkyellow);
    line-height: 20px;
}

.variation, .extras {
    font-weight: 550;
}

.radio, .checkbox {
    line-height: 20px;
}

.radio-option, .checkbox-option {
    margin-right: 10px;
}

.minus, .plus {
    width: 35px;
    border-style: none;
    background-color: var(--darkyellow);
    font-size: 18px;
    height: 31px;
}

.grid-quantity button {
    margin: -4px;
}

.quantity-number {
    display: inline-flex;
    background-color: #e9e9e9;
    font-size: 18px;
    width: 40px;
    border: solid var(--darkyellow) 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.minus {
    border-radius: 10px 0px 0px 10px;
}

.plus {
    border-radius: 0px 10px 10px 0px;
}

.addtocart {
    background-color: #000000;
    color: var(--white);
    border-style: none;
    border-radius: 10px;
    height: 30px;
    width: 240px;
    font-size: 15px;
}

.addtocart:hover{
    background-color: var(--darkyellow);
    color: black;
}

/*NEW POPUP NA FINAL */
.fa-xmark-new {
    color: gray;
    position: absolute;
    font-size: 25px;
    right: -30px;
    top: 15px;
}

.popup-container-new {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-new {
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.70);
    border-style: none;
    width: 400px;
    height: 540px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background-color: var(--white);
}

.popup-img-new {
    display: block;
    position: relative;
    top: -40px;
    width: 400px;
}

.scrollable-new {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 400px;
    height: 220px;
}

.popup-img-container-new {
    background-color: var(--darkyellow);
    height: 270px;
    border-radius: 20px 20px 40px 40px;
}

.radio-group-new {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-group-new label {
    display: flex;
    align-items: center;
}

.checkbox-group-new {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group-new label {
    display: flex;
    align-items: center;
}

.popup-footer-new {
    display: flex;
    align-items: center; 
}

.grid-quantity-new {
    width: 120px; 
    display: flex;
    align-items: center;
}

.popup-title-new, .popup-price-new, .popup-number-new, .popup-description-new, .variation-new, .radio-group-new, .extras-new, .checkbox-group-new, .popup-footer-new {
    margin: 10px 20px 10px 20px;
}

.popup-title-new {
    font-size: 25px;
    font-weight: 600;
}

.popup-price-new {
    line-height: 10px;
}

.popup-number-new {
    color: var(--darkyellow);
    line-height: 20px;
}


.variation-new, .extras-new {
    font-weight: 550;
}

.radio-new, .checkbox-new {
    line-height: 20px;
}

.radio-option-new, .checkbox-option-new {
    margin-right: 10px;
}

.minus-new, .plus-new {
    width: 35px;
    border-style: none;
    background-color: var(--darkyellow);
    font-size: 18px;
    height: 31px;
}

.grid-quantity-new button {
    margin: -4px;
}

.quantity-number-new {
    display: inline-flex;
    background-color: #e9e9e9;
    font-size: 18px;
    width: 40px;
    border: solid var(--darkyellow) 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.minus-new {
    border-radius: 10px 0px 0px 10px;
}

.plus-new {
    border-radius: 0px 10px 10px 0px;
}

.addtocart-new {
    background-color: #000000;
    color: var(--white);
    border-style: none;
    border-radius: 10px;
    height: 30px;
    width: 240px;
    font-size: 15px;
}

.addtocart-new:hover{
    background-color: var(--darkyellow);
    color: black;
}

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .cart-btn {
        display: none;
    }
}


@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


