* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";

}

:root {
    --darkyellow: #FAD02C;
    --black: #000000;
    --poppins: "Poppins";
    --white: #ffffff;
}

body {
    height: 100%;
}

.bg-color {
    background-color:azure;
}

/*------LOGIN-------*/

#signOut {
    z-index: 999;
}

.landingpage-pic {

}


/*------NAVBAR-------*/

.logo {
    height: 35px;
    display: flex;
    margin-left: 60px;
}

i{
    color: var(--white);
    margin-right: 50px;
    font-size: 20px;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-linkk, .action-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    font-weight: 580;
    transition: transform 0.3s ease;
}


.nav-linkk:hover {
    color:#FAD02C;
    transform: scale(1.1);
}


header {
    display: block;
    top: 0;
    z-index: 5;
    width: 100%;
    position: sticky;
}   

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    height: 13vh;
    backdrop-filter: blur(15px) ;
}

.links {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    left: 50%;
    right: 50%;
}
.navbar .links {
    display: flex;
    gap: 40px;
}

.navbar .toggle-btn {
    cursor: pointer;
    display: none;
    overflow-x: hidden;
}

.action-btn {
    background-color: var(--darkyellow);
    padding: 0.3rem 1rem;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 70px;
    padding: 8px 40px;
    color: #000;
    
}

.action-btn-dd  {
    background-color: var(--darkyellow);
    padding: 0.3rem 1rem;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    width: 2000px;
}

.action-btn:hover, .action-btn-dd:hover{
    background-color: #fff;
    color: #000000;
}

.cart-btn {
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    transition: transform 0.3s ease;

}

.fa-truck-fast {
    font-size: 25px;
}

.fa-cart-shopping {
    font-size: 25px;
}

.cart-link-home {
    position: absolute;
    right: 400px;
    width: 20px;
    
}

.fa-truck-fast:hover {
    color: var(--darkyellow);
}

.truck-link {
    position: absolute;
    right: 450px;
    width: 20px;
}


.cart-link {
    position: absolute;
    right: 230px;
    width: 20px;
}

.fa-circle-user {
    font-size: 38px;
}

.user:hover .fa-circle-user,
.user:hover .user-fullname,
.user:hover .user-email {
    color: var(--darkyellow);
}

.user {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    right: 48px;
    cursor: pointer;
}

.user-fullname {
    color: var(--white);
    margin-top: 9px;
    text-align: start;
}

.user-email {
    line-height: 5px;
    color: white;
    text-align: start;
}

.user-info {
    display: block;
    right: -50px;
    position: relative;
    left: -40px;
    z-index: 100;
}

.show {
    z-index: 1000;
}



.quantity-home{
    color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: red;
    font-size: 15px;
    position: absolute;
    right: 375px;
    top: -27px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.quantity{
    color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: red;
    font-size: 15px;
    position: absolute;
    right: 205px;
    top: -27px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}



#cart {
    height: 10px;
    color: white;
}

#cart:hover {
    color: #FAD02C;
    transform: scale(1.1);
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 400px;
    background-color: #00000099;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 300px;
    overflow: hidden;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-container {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.445);  
    position: relative;
    top: 0;
}


.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ordernow-btn {
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: center;
    background-color: var(--darkyellow);	
    border-radius:42px;
	border:1px solid #ffaa22;
	display: inline-block;
	cursor:pointer;
	color:#000000;
	font-family:"Poppins";
	font-size:15px;
	font-weight:600;
	padding:10px 40px;
	text-decoration:none;
}

.ordernow-btn:hover {
	background-color: var(--white);
    color: #000000;
    border-style: none;
}
.ordernow-btn:active {
	position:relative;
	top:1px;
}

/*--------VIDEO-----------*/

.video {
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    margin-bottom: 2.5em;
}

.overview-text1 {
    font-family: "Playwrite Australia Tasmania";
    font-size: 20px;
    font-style: italic;
}

.overview-text {
    font-family: "League Spartan";
    line-height: 30px;
}

/*-------BACKGROUND-------*/


.specialty-drinks-bg, .best-sellers-bg {
    height: 15.25rem;
    width: 100%;
    background-color: var(--black);
    position: relative;
}


.best-sellers-bg {    top: -5.125rem;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 2.025em;
}

.categories-title {
    font-weight: 600;
}

/*-------PRODUCTS------*/

.sd-container {
    position: relative;
    top: -4.125rem;
}

.bs-container {
    position: relative;
    top: -9.125rem;
}

.espresso-container {
    position: relative;
}

.product-link {
    text-decoration: none;
    border-style: none;
    border-radius: 30px;
}

.row-cols-2 {
    width: 1150px;
}

.row-menu {
    width: 1200px;
}

.card {
    width: 270px;
    flex: 0 0 auto;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.70);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.70);
    transition: transform 0.5s ease;
    background: hsla(289, 100%, 97%, 1);

background: radial-gradient(circle, hsla(289, 100%, 97%, 1) 48%, hsla(0, 0%, 91%, 1) 67%);

background: -moz-radial-gradient(circle, hsla(289, 100%, 97%, 1) 48%, hsla(0, 0%, 91%, 1) 67%);

background: -webkit-radial-gradient(circle, hsla(289, 100%, 97%, 1) 48%, hsla(0, 0%, 91%, 1) 67%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCEEFF", endColorstr="#E9E9E9", GradientType=1 );
}

.card-body {
    height: 200px;

}

.row-menu .col {
    position: relative;
    top: -60px;
    transition: transform 0.5s ease;
    margin-bottom: 30px;
}

.row-menu .col:hover {
    transform: translateY(-15px);
}

.row-menu .col:hover .img-container {
    background-color: var(--darkyellow);
}

.row-menu .col:hover .americano {
    background-color: rgb(155, 139, 115);
}

.row-menu .col:hover .tiramisu {
    background-color: #D2B48C;
}

.row-menu .col:hover .latte    {
    background-color: #d6af79;
}

.row-menu .col:hover .spanish    {
    background-color: #d6af79;
}


.row-menu .col:hover .matchalatte {
    background-color: rgb(192, 185, 119);
}

.row-menu .col:hover .capuccino {
    background-color: #C3A583;
}

.row-menu .col:hover .butterscotch {
    background-color: #ffc039;
}

.row-menu .col:hover .mochtab {
    background-color: #4E342E;
}

.row-menu .row-menu .col:hover .whitemocha {
    background-color: rgb(247, 233, 194);
}

.row-menu .col:hover .tableya {
    background-color: #3B2F2F ;
}

.row-menu .col:hover .horchata {
    background-color: rgb(250, 227, 169);
}

.row-menu .col:hover .dalgona {
    background-color: #ceac3b;
}

.row-menu .col:hover .strawberrysup {
    background-color: rgb(255, 52, 120);
}

.row-menu .col:hover .lemon {
    background-color: #ffef3f;
}

.row-menu .col:hover .strawberrylemonade {
    background-color: #FF6F61;
}

.row-menu .col:hover .hibiscus {
    background-color: #ff6363;
}
.row-menu .col:hover .cake {
    background-color: rgb(252, 135, 135);
}

.row-menu .col:hover .strawberrymatcha {
    background-color: rgb(140, 206, 33);
}

.row-menu .col:hover .matchatab {
    background-color: rgb(185, 204, 19);
}

.row-menu .col:hover .passionfruit {
    background-color: #ffe344;
}

.row-menu .col:hover .smores {
    background-color: #ddad34; 
}

.row-menu .col:hover .soda {
    background-color: #73B9FF; 
}

.row-menu .col:hover .tapa {
    background-color: #8B4513;
}

.row-menu .col:hover .smatcha {
    background-color: #A2C523;
}

.row-menu .col:hover .cookies {
    background-color:#D2B48C ;
}

.row-menu .col:hover .brownies {
    background-color:#966542 ;
}

.row-menu .col:hover .shakshouka {
    background-color:#B22222 ;
}

.row-menu .col:hover .ceasar {
    background-color:#a7ff50 ;
}

.row-menu .col:hover .shrimp {
    background-color:#9dfc32  ;
}

.row-menu .col:hover .fries {
    background-color:#9dfc32  ;
}

.row-menu .col:hover .cheese {
    background-color:#FFA500   ;
}

.row-menu .col:hover .ham {
    background-color:#FFC0CB   ;
}

.row-menu .col:hover .croffle {
    background-color:#DEB887   ;
}

.row-menu .col:hover .cookiesncream {
    background-color:#8B4513   ;
}

.row-menu .col:hover .pasta {
    background-color:#F5DEB3   ;
}


.row-menu .col:hover .card-img-top {
    transform: scale(1.1);
}


.img-container {
    width: 270px;
    height: 190px;
    border-radius: 15px 15px 30px 30px;
    visibility: visible;
    transition: background-color 0.5s ease;
    z-index: 1;
}

.card-img-top {
    transition: transform 0.5s ease;
}

.start-price {
    margin: 8px 0 5px 0;
    font-size: 14px;
    color: rgb(116, 116, 116);

}

.card-text {
    line-height: 15px;
    font-size: 14px;
    color: rgb(116, 116, 116);
}

.price {
    line-height: 10px;
    margin-bottom: 12px;
    color: var(--darkyellow);
}

.all-menu-btn-cont {
    display: flex;
    position: relative;
    justify-content: center;
    top: -12rem;
    height: auto;
}

.all-menu-btn {
    width: 1130px;
    height: 40px;
    border-radius: 8px;
    font-family: var(--poppins);
    font-weight:s 500;
    border-style: none;
    background-color: var(--black);    
    font-size: 13px;
    color: var(--white);
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.all-menu-btn:hover {
    background-color: var(--darkyellow);
}

.back-to-top-btn {
    position: relative;
    display: flex;
    float: right;
    margin-right: 90px;
    top: -9.375rem;
}

#backtotop {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-family: var(--poppins);
    color: var(--darkgray);
    position: relative;
    font-size: small;

}



.divider {
    height: 20px;
    width: 1px;
    background-color: lightgray;
}

/*CAROUSEL MENU*/


  .wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
  }
  #menu-carousel{
    width:90%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
    border: 2px solid #fff;
  }
  .wrapper .slick-dots li button:before {
    font-size:20px;
    color:white;
  }

/*------MENU--------*/

.categories-cont {
    margin-bottom: 4em;
    padding-top: 0.3em;
    height: 3.3em;
    position: sticky;
    top: 0;
    background-color: var(--darkyellow);
    z-index: 2;
    justify-content: center;
    align-items: center;

}

.categories-cont .nav {
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.links li {
    font-size: 20px;
}

.nav .nav-link {
    color: #000000;
    font-weight: 500;
}

.nav .nav-link:hover {
    color: var(--white);
}

.nav i {
    color:#000000;
}

.categories-icon {
    margin-right: 10px; 
    transition: color 0.3s ease, opacity 0.3s ease;}

.nav-link:active {
    color: var(--white);
}

.nav-link:hover .categories-icon {
    color: var(--white); 
    opacity: 1;
}

/* .espresso {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;
} */

.espresso, .non-coffee h3 {
    font-weight: 600;
}

.non-coffee {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 80px;
}

.menu-container {
    margin-bottom: 6em;
    margin-top: -2em;
}

.fa-xmark {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 30px;
    right: -5px;
    cursor: pointer;
    font-size: 28px;
}

.fa-chevron-up {
    color: black;
    font-size: 30px;
    background-color: var(--darkyellow);
    padding: 15px;
    border-radius: 50%;
}


/*NEW POPUP NA FINAL */
#fa-xmark-popup {
    color: rgb(44, 44, 44);
    position: absolute;
    margin: 15px;
    right: 10px;
    top: 8px;
    z-index: 10;
    cursor: pointer;
    font-size: 28px;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 6;
}

.popup {
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.70);
    border-style: none;
    width: 500px;
    height: 700px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background-color: var(--white);
}

.popup-img {
    display: block;
    position: relative;
    top: -40px;
    width: 500px;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 500px;
    height: 300px;
}

.popup-img-container {
    background: hsla(48, 100%, 72%, 1);

    background: radial-gradient(circle, hsla(48, 100%, 72%, 1) 25%, hsla(48, 95%, 58%, 1) 100%);
    
    background: -moz-radial-gradient(circle, hsla(48, 100%, 72%, 1) 25%, hsla(48, 95%, 58%, 1) 100%);
    
    background: -webkit-radial-gradient(circle, hsla(48, 100%, 72%, 1) 25%, hsla(48, 95%, 58%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFE371", endColorstr="#FAD02C", GradientType=1 );    height: 340px;
    border-radius: 20px 20px 40px 40px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-group label {
    display: flex;
    align-items: center;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
}

.popup-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.grid-addtocart{
    width: 100%;
}
.grid-quantity {
    width: 120px; 
    display: flex;
    align-items: center;
}

.popup-title, .popup-price, .popup-number, .popup-description, .variation, .radio-group, .extras, .checkbox-group, .popup-footer {
    margin: 10px 20px 10px 20px;
}

.popup-title {
    font-size: 25px;
    font-weight: 600;
}

.popup-price {
    line-height: 10px;
}

.popup-number {
    color: var(--darkyellow);
    line-height: 20px;
}

.popup-description {
    font-size: 18px;
}

.variation, .extras {
    font-weight: 550;
    font-size: 18px;
}

.radio, .checkbox {
    line-height: 20px;
    font-size: 18px;
    cursor: pointer;
}

.radio-option, .checkbox-option {
    margin-right: 10px;
}

.radio-option {
    cursor: pointer;
}

.minus, .plus {
    height: 35px;
    width: 35px;
    font-size: 20px;
    border-style: none;
    background-color: var(--darkyellow);
    font-weight: 600;
    border-radius: 5px 5px 5px 5px;
}

.quantity-number {
    padding: 0px 10px;
    display: block;
    width: 40px;
    text-align: center;
}

.minus {
    border-radius: 10px 0px 0px 10px;
}

.plus {
    border-radius: 0px 10px 10px 0px;
}

.addtocart {
    background-color: #000000;
    color: var(--white);
    border-style: none;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    font-size: 15px;
}
.addtocart:hover{
    background-color: var(--darkyellow);
    color: black;
}
.addtocart:active{
    background-color: #000000;
    color: var(--white);
}
/*-----CART PAGE------*/

.cartpage {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #00000044;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    display: none;
    flex-wrap: wrap ;
    justify-content: center;
    gap: 15px;
    z-index: 10;
    overflow: scroll;
}

.mycart {
    background-color: #ebebeb;
    height: 750px;
    width: 650px;
    position: relative;
    right: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.70);
    overflow: hidden;
}

.text-container {
    position: relative;
    top: 10px;
    margin-left: 10px;
}

.fa-chevron-left {
    color: gray;

}

.backbutton {
    margin: 20px 20px 0px 30px;
    display: flex;
    cursor: pointer;
}

.backbutton p {
    position: relative;
    left: -40px;
    top: -2.5px;
    cursor: pointer;
}

.items {
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    padding-left: 20px;
    height: 650px;
}

.cart-items-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 0px 15px 15px 15px;
    border-radius: 15px;
}
.mycart-title {
    text-align: center;
    font-weight: 600;
    position: relative;
    top: -15px;
    color: black;

}

.cart-img-container {
    height: 130px;
    width: 130px;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    align-items: center;
    background-color: var(--darkyellow);
}

.cart-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: -10px;
}

.cart-items-title {
    margin-bottom: 20px;
    color: black;
}

.cart-items-price {
    font-size: large;
    font-weight: 500;
}

.cart-items-title, .cart-items-price, .cart-items-size, .cart-items-extras {
    margin-left: 20px;
    line-height: 8px;
}

.cart-items-extras{
    width: 400px;
    line-height: 20px;
    
}
.fa-trash {
    color: gray;
    position: absolute;
    left: 400px;
    cursor: pointer;
    font-size: 23px;
    top: -5px;
}

.fa-trash:hover {
    color: rgb(204, 4, 4);
}

.line {
    margin: 20px;
}

.cart-quantity {
    position: absolute;
    left: 500px;
}

.cart-minus, .cart-plus {
    height: 30px;
    width: 35px;
    font-size: 20px;
    border-style: none;
    background-color: var(--darkyellow);
    font-weight: 600;
    border-radius: 5px;
}

.cart-quantity-number {
    padding: 0px 10px;
}

/*----INFORMATION----*/

.information {
    background-color: var(--darkyellow);
    width: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.70);
    position: relative;
    padding: 20px 20px;
}

.delivery-address  {
    display:flex;
    padding: 20px;
}

.map {
    height: 100px;
}

.info {
    justify-content: flex-start;
}

.delivery-title {
    margin: 10px 0px 0px 20px;
    font-weight: 550;
    line-height: 15px;
    color: black;
}

.name, .phone-number, .complete-address {
    margin: 10px 0px 0px 20px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
}

.edit {
    width: 460px;
    background-color: #ffffff70;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}



/*----DIALOG----*/

dialog {
    height: 500px;
    width: 400px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.70);

}

.dialog {
    position: absolute;
    top: 22%;
    left: 14.5%;
    transform: translate(-50%, -50%);
    z-index: 2001;
    padding: 20px;

}

.save {
    position: fixed;
    bottom: -460px;
    right: -340px;
    padding: 7px 30px;
    border-radius: 10px;
    font-weight: 500px;
    background-color: var(--darkyellow);
    border: solid 2px #8a8a8a;
}

.close {
    position: fixed;
    bottom: -460px;
    right: -225px;
    padding: 7px 30px;
    border-radius: 10px;
    font-weight: 500px;
    background-color: #ebebeb;
    border: solid 2px #8a8a8a;

}

.fullname, .contact-number, .dialog-address-1, .dialog-address-2, .dialog-address-3, .dialog-address-4{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    border-radius: 10px;
}

.contact-number {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.special-instructions, .payment-method{
    margin-top: 8px;
    line-height: 10px;
    font-weight: 450;

}

.instruction-box {
    height: 150px;
    width: 100%;
    padding: 15px;
    border: none;
    margin-bottom: 8px;
    border-radius: 10px;

}

#textbox {
    height: 100px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}



/*----PAYMENT METHOD----*/

.payment-radio {
    display: inline-flex;
    margin-right: 20px;
}

.payment-radio input[type="radio"] {
    display: none;
}

.payment-radio label {
    display: inline-flex;
    width: 135px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
    transition: border 0.2s ease, background-color 0.2s ease;
    z-index: 2000;
}

.payment-radio input[type="radio"]:checked + img {
    border: 2px solid #000; 
    background-color: #ffffff;
}

.radio-group-payment {
    display: flex;
    justify-content: space-between;
}

.payment-img {
    width: 130px;
    height: 80px;
    background-color: #ffffff70;
    border-radius: 10px;
    transition: background-color 0.2s ease;

}

.payment-img:hover {
    background-color: #ffffff;
}

.payment-summary p {
    line-height: 10px;
    font-weight: 450;
}

.payment-summary h5 {
    margin-bottom: 10px;
    font-weight: 500;
}

.payment-summary {
    margin-bottom: 5px;
}

.code {
    display: flex;
    gap:15px;
}

#textbox-voucher {
    height: 45px;
    width: 70%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

.voucher-code {
    font-weight: 450;
    margin-bottom: 8px;
    margin-top: 2px;
}

.apply {
    width: 25%;
    border-radius: 10px;
    font-weight: 450;
    border: solid 2px;
}

.apply:hover {
    background-color: #ffffff70;
}

.totalpayment h2 {
    line-height: 15px;
    font-weight: 600;
}

.total {
    display: inline-flex;
    gap:30px;
}

.checkout {
    width: 275px;
    border-radius: 10px;
    font-weight: 450;
    border: solid 2px;
}

.checkout:hover {
    background-color: #ffffff70;
}

/*-----ABOUT -------*/

.aboutus {
    position: relative;
    display: inline-block;
    width: 100%;
}

.aboutus-pic {
    width: 100%;
    display: block;
    height: auto;
}

.aboutus-title {
    font-size: 4em;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}

.aboutus-info {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: white;
    position: absolute;
    top: 63%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.mission-container, .vision-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 150px;
}

.vision-container {
    margin-top: 80px;

}

.mission-title, .vision-title {
    font-weight: 600;
}

.mission, .vision {
    display: block;
    position: relative;
    width: 600px;
    margin-top: 45px;
}

.mission-pic, .vision-pic {
    height: 400px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.70);
}

.mission-text, .vision-text {
    position: relative;
    font-size: 20px;
}

.bottom-pic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    height: auto;
    margin-bottom: 50px;

}

.bottom-pic img {
    width: 1200px;
    border-radius: 20px;
    height: auto;
}

.bottom-pic button {
    position: absolute;
    padding: 8px 50px;
    background-color: #FAD02C90;
    border: #00000073 solid 2px;
    border-radius: 10px;
    margin-top: 160px;
}

.bottom-pic-lp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
    position: relative;
    top: -100px;
}

.bottom-pic-lp img {
    width: 1150px;
    border-radius: 20px;
    height: auto;    
}


/*---CONTACT US PAGE*/

.contactus {
    position: relative;
    display: inline-block;
    width: 100%;
}

.contactus-pic {
    width: 100%;
    display: block;
    height: auto;
}

.contactus-title {
    font-size: 4em;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
    margin-top: 50px;
}

.row-contact {
    gap: 50px;
}

.contact-form {
    width: 500px;
    height: 650px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--white);
}

.contact-form label {
    margin-bottom: 5px;
    color: var(--white);

}


.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contact-form button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--darkyellow);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.contact-form button:hover {
    background-color: var(--white);
    color: black;
}

.contactus-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-infos {
    line-height: 20px;
    text-align: justify;
}

.contact-icon {
    color: #000;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 50px;
}

iframe {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -50px;
}

/*---HOME---
.hovevid-container {
    position: relative;
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home-vid {
    width: 100%;
}

.bottom-container {
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
}

.vid-text {
    line-height: 75px;
    width: 100%;
    font-size: 4em;
    font-weight: 750;
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.homevid-text {
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    font-size: 17px;
}


*/

.homevid-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.home-vid {
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.content-overlay {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 1000px;
}

.vid-text {
    font-size: 3.5em;
    margin-bottom: 20px;
    display: flex;

}

.homevid-text {
    font-size: 1.2em;
    margin-bottom: 20px;
    display: flex;

}

.home-order {
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--darkyellow);
    border: none;
    color: white;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
}

.home-order:hover {
    background-color: var(--darkyellow);
}


/*----FAQs----*/

.faqs {
    position: relative;
    display: inline-block;
    width: 100%;
}

.faqs-pic {
    width: 100%;
    display: block;
    height: auto;
}

.faqs-title {
    font-size: 4em;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}

/*--------ORDER STATUS-------*/

.orderstat-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.orderstat-box {
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.70);
    border-style: none;
    width: 600px;
    height: 450px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background-color: var(--white);
    padding: 30px;
}

.orderstat-box h3 {
    text-align: center;
    font-weight: 600;
}

.orderstat-box h5 {
    margin-left: 15px;
}

.line-status {
    width: 450px;
    height: 20px;
    background-color: gray;
    position: absolute;
    left: 85px;
    top: 105px; 
    
}

.line-status2 {
    width: 225px;
    height: 20px;
    background-color: var(--darkyellow);
    position: absolute;
    left: 285px;
    top: 105px; 
    z-index: 3;
}

.status {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.status-text {
    gap: 80px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.fa-cart-arrow-down, .truck2, .fa-check{
    position: relative;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 25px;
}

.order-placed, .out4delivery, .completed {
    background-color: gray;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 4;
}

.arrived {
    padding: 10px 50px;
    background-color: var(--darkyellow);
    border-radius: 20px;
    border: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.arrived:hover {
    background-color: white;
    border: solid 2px #000000;
}

.x-status {
    position: absolute;
    top: 20px;
    right: -30px;
    color: gray;
    cursor: pointer;
}

.x-status:hover {
    color: var(--darkyellow);
}

.noorder {
    text-align: center;
}


/*--------FOOTER-------*/

.footer-container {
    position: relative;
    color: var(--white);
    
}

footer {
    padding: 40px 0px;
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 0%, 1);

background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 30%, hsla(0, 0%, 31%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 30%, hsla(0, 0%, 31%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 30%, hsla(0, 0%, 31%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#4E4E4E", GradientType=1 );
}

.footer-logo {
    width: 300px;
    margin-bottom: 20px;
}

.footer-container p {
    color: var(--white);
    line-height: 18px;
}

.footer-icon {
    font-size: 30px;
    padding: 0px 10px;
}


.footer-icon2 {
    font-size: 30px;
    color: var(--darkyellow);
}

.footer-link {
    position: relative;
    left: -25px;
}

.footer-row p {
    font-size: 18px;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;

}

.footer-row, .quicklinks {
    padding: 0px 80px;
}

.footer-row h2 {
    margin-bottom: 20px;
}

.footer-row p:hover, .footer-icon:hover {
    color: var(--darkyellow);
}

.quicklinks a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 30px;
}
.quicklinks a:hover {
    color: var(--darkyellow);
}

.pagodnako {
    width: 100%;
}

.footer-footer {
    width: 100%;
    height: 50px;
    background-color: var(--darkyellow);
    
}

.footer-footer p {
    color: #000;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding-top: 15px;
}






@media (max-width: 992px) {
    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .cart-btn {
        display: none;
    }

    .cart-btn-home {
        display: none;
    }

    .user {
        display:none;
    }
}


@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


